@charset "utf-8";
/*
*三大主题
*/
.shou_zhu{
	margin-top:0px;
	padding: 10px 0px 20px 0px;
}
@media (min-width:768px){
	.shou_zhu{
		padding: 30px 0px 60px 0px;
	}
}
.shou_zhu .col-lg-4 .thumbnail:hover{
	transform: translateY(-5px);
	transition: all 0.5s;
}
.shou_zhu .col-lg-4 .thumbnail{
	padding-top: 10px;
	height:110px;
	width: 100%;
	cursor: pointer;
}
@media (min-width:768px){
	.shou_zhu .col-lg-4 .thumbnail{
		padding-top: 10px;
		height: 430px;
		cursor: pointer;
		width: 80%;
	}
}

.shou_zhu  .col-lg-4{
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 25px;
}
@media (min-width:768px){
	.shou_zhu .col-lg-4{
		padding-left: 10px;
		padding-right: 10px;
	}
}
.shou_zhu  .col-lg-4 .col-lg-12{
	padding:0px;
}
@media (min-width:768px){
	.shou_zhu .col-lg-4 .col-lg-12{
		padding:0px 0px;
	}
}
.shou_zhu h3{
	margin-top:5px;
	margin-bottom: 1px;
	font-size: 0.9em;
	font-weight: bold;
}
@media (min-width:768px){
	.shou_zhu h3{
		font-size: 1.6em;
		margin-top:40px;
		margin-bottom: 15px;
		font-weight: bold;
	}
}
.shou_zhu h4{
	font-size: 0.9em;
}
@media (min-width:768px){
	.shou_zhu h4{
		font-size: 1.2em;
	}
}
.shou_zhu h2{
	margin-bottom:18px;
	font-size: 1.1em;
	color: white;
}
@media (min-width:768px){
	.shou_zhu h2{
		font-size: 2em;
		margin-bottom: 50px;
	}
}
.shou_zhu h2 span{
	padding: 10px 10px;
}
@media (min-width:768px){
	.shou_zhu h2 span{
		padding: 10px 15px;
	}
}
.shou_zhu .xian1{
	width: 15%;
	margin-left: -130px;
	border-top: solid 1px white;
	margin-top: -27px;
}
@media (min-width:768px){
	.shou_zhu .xian1{
		width: 13%;
		margin-left: -300px;
		border-top: solid 1px white;
		margin-top: -62px;
		margin-bottom: 50px;
	}
}
.shou_zhu .xian2{
	width: 15%;
	margin-left: 130px;
	border-top: solid 1px white;
	margin-top: -1px;
	margin-bottom: 20px;
}
@media (min-width:768px){
	.shou_zhu .xian2{
		width: 13%;
		margin-left: 300px;
		border-top: solid 1px white;
		margin-top: -55px;
		margin-bottom: 50px;
	}
}
.shou_zhu ul{
	padding: 0px;
	font-size: 0.8em;
	border-radius: 5px;
	line-height: 25px;
}
@media (min-width:768px){
	.shou_zhu ul{
		padding: 0px 10px;
		font-size: 1.1em;
		border-radius: 5px;
		line-height: 30px;
	}
}
 .yuan{
	height: 55px;
	width: 55px;
	margin-top: 10px;
	padding: 12px;
	border-radius: 50%;
	box-shadow: 4px 4px 10px #888888;
}
@media (min-width:768px){
	 .yuan{
		height: 130px;
		width: 130px;
		margin-top: 13px;
		margin-bottom: 20px;
		padding: 30px;
		border-radius: 50%;
		box-shadow: 8px 8px 10px #888888;
	}
}
.yuan img{
	width: 100%;
}
